*{
    padding: 0;
    margin: 0;
}
.main{
    max-width: 370px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.container{
    background: white;

    border-radius: 4px;
}

.textStyle{
    text-align: center;
    margin: auto;
    color: black;
    padding: 30px;
}
.searchbar{ 
    margin-left: -12px;
    padding: 11px;
    margin-bottom: 20px;
    background-color: #8080800a;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    width: 78%;
    margin-right: 17px;
}
.magni{
    border-radius: 8px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-top: 10px;
    background-color: #8080800a;
}
.texts {
    font-size: 22px;
    margin: 35px 5px 38px 0px;
    color: black;
}

.iconbox{
    padding: 4px;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 5px 5px 5px 25px;
}

ul{
    padding-left: 0px !important;
}



h5{
    padding: 30px 0px 20px 20px;
    color: black;
    font-weight: bolder;
}


/*..second page*/

.hrt{
    color: #ff7800;
}

.behind{
    height: 400px;
}

.containerbackground{
    padding-top: 24px;
    border-radius: 33px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: papayawhip;
}

.containerimg{
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cat{
    border: 1px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.heart, i{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
    color: #ff7800;
}
.textmid h5{
    color: black;
    font-weight: 600;

}

span{
    color: grey;
    font-size: smaller;
}


.catogerybox{

    height: auto;
    list-style: none;
    /* display: flex; */
    justify-content: flex-end;
    /* display: flex; */
    text-align: ;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
    transform: translate(-30%,0,-200px);
    border-radius: 11px;
    width: 83%;
    padding: 2px 40px 0px 63px;

  /*  
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
    transform: translate(-30%,0,-200px);
    border-radius: 11px;
    width: 100%;*/
}
.litext{
    margin: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: flex; */
    padding: 20px 25px 20px 0px;

   /* margin: auto;
    padding: 30px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;*/
    /* display: flex; */
}


/*start rating css*/
.score {
  display: block;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.score-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 19px;
}

.score .stars-active {
  color: #EEBD01;
  position: relative;
  z-index: 10;
  display: inline-block;
}

.score .stars-inactive {
  color: grey;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: initial;
  overflow: hidden;
}

/*end*/
.heartd{
    display: flex !important;
    flex-direction: row-reverse !important;
    margin-right: -30px !important;
    margin-top: -34px !important;
}


.imgsmall{
    
    margin: -15px 0 0 0px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
    /* padding: 20px 24px 42px 70px; */
    border-radius: 17px;
    width: 110px;
    
    height: auto;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);


    width: 110px;
    height: auto;
    
}

.cat23{

    margin: 0px 0 0 0px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
    padding: 15px 38px 23px 78px;
    border-radius: 17px;
    /*margin: 0px 0 0 0px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
    padding: 3px 38px 48px 78px;
    border-radius: 17px;*/
}

.sahpe{
    padding: 15px 2px 15px 0px;
    margin: auto;
}





















/* 
input[type = radio]{
display: none;
}

#slider{
    position: relative;
    width: 50%;
    height: 35vw;    
    perspective: 1000px;
    transform-style:preserve-3d ;
 
}
#slider label{
    margin: auto;
    width: 60%;
    height: 50%;
    border-radius: 4px;
    position:absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: trasnform 0.4 ease;
}


#s1:checked~ #slide4, #s2:checked~ #slide5, 
#s3:checked~ #slide1, #s4:checked~ #slide2,
#s5:checked~ #slide3{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate(-30%,0,-200px);
}



#s1:checked~ #slide5, #s2:checked~ #slide1, 
#s3:checked~ #slide2, #s4:checked~ #slide3,
#s5:checked~ #slide4{
    box-shadow: 0 6x 10px 0 rgba(0,0,0,.3),0 2px 2px 0 rgb(0, 0, 0,.2);
    transform: translate(-15%,0,-100px);
}

#s1:checked~ #slide1, #s2:checked~ #slide2, 
#s3:checked~ #slide2, #s4:checked~ #slide4,
#s5:checked~ #slide5{
    box-shadow: 0 13x 25px 0 rgba(0,0,0,.3),0 11px 7px 0 rgb(0, 0, 0,.19);
    transform: translate(0,0,0);
} */




/* crousel */

.carousel .carousel-indicators button.active {
    width: 30px;
}
